[Unit]
Description=on-the-fly less/coffee converter
After=nss-user-lookup.target
After=nginx.service
Requires=onthefly.socket

[Service]
WorkingDirectory=/usr/local/on-the-fly
StandardOutput=syslog
SyslogIdentifier=on-the-fly
ExecStart=/usr/local/bin/node on-the-fly.js
User=www-data
Group=syslog

[Install]
Also=on-the-fly.socket

