[Unit]
Description=Socket for the on-the-fly service

[Socket]
ListenStream=/run/onthefly.socket
SocketUser=www-data
SocketGroup=www-data
RemoveOnStop=on

[Install]
WantedBy=sockets.target
