[Unit]
Description=Less/Coffee conversion on the fly
After=nss-user-lookup.target
Requires=onthefly.socket

[Service]
WorkingDirectory=/usr/local/onthefly
StandardOutput=syslog
SyslogIdentifier=onthefly
ExecStart=/usr/local/bin/node server.js
User=www-data
Group=www-data

[Install]
Also=on-the-fly.socket

